@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&family=Mountains+of+Christmas:wght@700&family=Raleway:ital,wght@1,300&family=Tenali+Ramakrishna&display=swap');



html {
    font-size: 16px; 
}

body {
    background-color: #201C22;
    max-width: 70.5rem;
    font-family: 'Raleway', sans-serif;
    color:white;
    line-height: 1.5;
    margin: 5rem auto;
    
}


section {
    margin: 9.25rem auto;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

p {
    font-size: 19px;
}

h1{
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
}

h2 {
    font-size: 30px;
    font-style: italic; 
}

a {
    color: white;
    text-decoration: none;
    margin: 0 0 0 2rem;
}

a h1:hover {
    color: #FB0E7D;
}

a h1:visited {
    color: #BF3; 
}



a footer:hover{
    color: #BF3;
     
}


h2{
    font-family: Raleway;
    font-size: 30px;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
}

h3{
    font-family: raleway;
    font-size: 30px;
    font-weight: bold;
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}


main {
    font-family: 'Raleway', sans-serif;

}

footer {
    width: 35rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    font-style: normal;

}

.tworow {
    margin: 9.25rem auto;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50% 50%;
    grid-column-gap: 1.5rem;
    grid-auto-flow: dense;
}

#tagline {
    text-align: center;
    grid-column: 2/11;
}



#fastfashion {
    grid-column: 1/6;
    grid-row: 1/3; 
}

#description1 {
    grid-column: 7/11;
    grid-row: 1/2; 
  

}
#gallery {
    grid-column:7/11;
    grid-row: 2/3; 

}



#campus {
    grid-column: 6/10;

}


#description2 {
    grid-column: 1/5;

}

#zine {
    grid-column: 2/4;
    grid-row: 1/3;

}

#zine8 {
    grid-column: 4/10;
    grid-row: 2/3;
}

#description3 {
   grid-column: 5/11;
}


#description4 {
    grid-column: 1/3;
}

#photoshop {
    grid-column: 3/7;
}

#hands {
    grid-column: 7/11;
}


#paula {
    grid-column: 1/4;
}

#paula2 {
    grid-column: 6/8;
}

#paula3 {
    grid-column: 1/4;
   

}

#paula4 {
    grid-column: 6/9;
    grid-row: 1/2;
}

#description5 {
    grid-column: 12/12;
}


#description6{
    grid-column: 2/4;
}

#libris {
    grid-column: 5/10;
}



#about {
    width: 75%; 
    margin: auto; 
    display: flex;
}


#caption {
   grid-column: 6/12;
}


#contact {
    grid-column: 1/9;
}

#pink {
    grid-column: 0/1;
}
#blue {
    grid-column: 01;
}
#green {
    grid-column: 0/1;
}
#caption2 {
    text-align: center;
}
#footer1 {
    grid-column: 1/2;
}

#footer2 {
    grid-column: 5/6
}

#footer {
    grid-column: 9/10;
}
#extra {
    text-align: right;
    text-decoration: underline;
}
#stills {
    grid-column: 1/6;
}

#d1{
    grid-column: 3/7;
}

#d2 {
    grid-column: 9/11;
}

#video {
    grid-column: 1/6;
}

#pyramid {
    grid-column: 4/12;
}

#thefeed {
    grid-column: 7/11;
}

#splash {
    background-image: url("../img/splash.png");
    background-size: cover;
}

#zinepages {
    text-decoration: underline;
    grid-column: 1/3;
}